# Node.js
node_modules/

# Build output
build/
dist/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# IDE and Editor configurations
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Other files you may want to ignore
yarn-error.log
